DB_NAME=calendario_condiviso
DB_USERNAME=postgres
DB_PASSWORD=scegli_una_password
DB_PORT=5432
DB_HOST=(postgres se avviata da docker container o localhost se avviata da IDE)
PGADMIN_EMAIL=tua@email.com
PGADMIN_PASSWORD=scegli_una_password
JWT_SECRET=scegli_una_chiave_segreta_per_jwt_almeno_32_caratteri
JWT_ACCESS_TOKEN_EXP=10
JWT_ACCESS_TOKEN_EXP=60